.forgot-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  /* background: linear-gradient(135deg, #6a11cb, #2575fc); */
  background-image: url(forpasback.jpg);
  background-size: cover;
}

.forgot-password-form-wrapper {
  display: flex;
  background: white;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 900px;
  transition: transform 0.3s ease-in-out;
  overflow: hidden;
}

.forgot-password-form-wrapper:hover {
  transform: scale(1.03);
}

.forgot-password-form-wrapper img {
  width: 50%;
  object-fit: cover;
  border-radius: 12px 0 0 12px;
}

.forgot-password-form {
  width: 50%;
  padding: 20px;
  text-align: center;
}

.forgot-password-form h2 {
  margin-bottom: 20px;
  font-size: 32px;
  color: #0051ff;
  font-weight: bold;
}

.forgot-password-form p {
  margin-bottom: 20px;
  font-size: 20px;
  color: #333;
  font-weight: bold;
}

.forgot-password-input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 2px solid #ccc;
  border-radius: 6px;
  font-size: larger;
  outline: none;
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  color: black !important;
}

.forgot-password-input::placeholder {
  color: #333 !important;
}

.forgot-password-input:focus {
  border-color: #007bff;
  box-shadow: 0px 0px 8px rgba(0, 123, 255, 0.5);
}

.send-otp-button {
  width: 100%;
  padding: 12px;
  background-color: #ff4b2b;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease-in-out, transform 0.2s;
}

.send-otp-button:hover {
  background-color: #ff3a1b;
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .forgot-password-form-wrapper {
      flex-direction: column;
      text-align: center;
      max-width: 90%;
  }
  
  .forgot-password-form-wrapper img {
      width: 100%;
      height: auto;
      border-radius: 12px 12px 0 0;
  }

  .forgot-password-form {
      width: 100%;
  }
}
